.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: right;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="box-"] {
      width: 100%;
    }
}

.box:hover {
    background-color: grey;
}

.box-1 {
    width: 30%;
    height: 257px;
    border: 1px solid white;
    background-color: orange;
}

.box-2 {
    width: 30%;
    height: 257px;
    border: 1px solid white;
    background-color: rgb(51, 122, 255);
}

.box-3 {
    width: 30%;
    height: 257px;
    border: 1px solid black;
    background-color: white;
    color: black
}

.dashboard {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    align-items: center;
}

* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

.title {
    padding-left: 20px;
}

