.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: right;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.box-1 {
    width: 340px;
    height: 257px;
    border: 1px solid white;
    background-color: orange;
}

.box-2 {
    width: 340px;
    height: 257px;
    border: 1px solid white;
    background-color: rgb(0, 89, 255);
}

.dashboard {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    align-items: center;
}